#container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size: 30px;
    color: #fe2d11;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    padding: 0px;
    
}
body{
    margin: 0px;
}

header{
    width:  100%;
    display: flex;
    flex-direction: column;
    align-items:center;
}

#title{
    width: 1060px;
    user-select: none;
    margin-right: 25px;
}

#menuBar{
    width: 100%;
    height: 69px;
    display:  flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

#menulist{
    color: #fe2d11;
    user-select: none;
    display: flex;
    flex-direction: row;
    width: 1080px;
    height: 49px;
    padding: 0px;
    justify-content: space-around;
    margin: 0px;
}

a{
    color: inherit;
    text-decoration: none;
}

ul li{
    display: flex;
    align-items: center;
    justify-content: center;
}

ul li:hover{
    font-style: oblique;
    background-image: cross-fade();
}
#footertext{
    width: 100%;
    top: 10px;
    display: flex;  
    position: relative;
    justify-content: center;
    align-items: left;
}

#copyright01{ 
    margin-top: 10px;
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;   
}
#copyright02{
    top: 50px;
    left: 30px;
    font-size: 8px; 
   font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: grey;   
}

.upLine{border-top: 1px solid #ff9182;}
.downLine{border-bottom: 1px solid #ff9182;}
.leftLine{border-left: 1px solid #ff9182;}
.rightLine{border-right: 1px solid #ff9182;}

.row{width: 1080px; display: flex;}


.textAlingCenter{text-align: center;}
.textAlingLeft{text-align: left;}

.col-1{width: 8.33%; padding: 0px 10px;}
.col-2{width: 16.66%; padding: 0px 10px;}
.col-3{width: 25%; padding:0px 10px;}
.col-4{width: 33.33%; padding: 0px 10px;}
.col-5{width: 41.66%; padding: 0px 10px;}
.col-6{width: 50%; padding: 0px 10px;}
.col-7{width: 58.33%; padding: 0px 10px;}
.col-8{width: 66.66%; padding: 0px 10px;}
.col-9{width: 75%; padding: 0px 10px;}
.col-10{width: 83.33%; padding: 0px 10px;}
.col-11{width: 91.66%; padding: 0px 10px;}
.col-12{width: 100%; padding: 0px 10px;}

.col-8{
    position: absolute;
    display: flex;
    left: 1000px;
    z-index: 200px;
    top: 1080px;
}
.h30{height: 30px;}
.h50{height: 50px;}
.h67{height: 67px;}
.h100{height: 100px;}
.h200{height: 200px;}
.h300{height: 300px;}
.h400{height: 400px;}

#container01{
    width: 1080px;;
    position: relative;
    display: inline-flex;
    align-items: left;
    justify-content: center;
}

span{
    color: #fe2d11;
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: relative;
    display: inline-flex;
    align-items: left;
    justify-content: center;
}
    

